

    <div class="messageContainer"    *ngFor="let mensaje of mensajes">
          <!--Mis mensajes-->
        <div id="mData" *ngIf="mensaje.nombre =='Cristian'" style="background-color: rgb(123, 235, 88);" >
            <span id="sender">
                {{mensaje.nombre}} 
            </span>
            <span id="timestamp" 
                >
                {{ timeStamp | date:'medium' }}
            </span>
        </div>
        <div *ngIf="mensaje.nombre =='Cristian'" id="messageContent">
           {{mensaje.mensaje}}
        </div>
 
        <div id="mData" *ngIf="mensaje.nombre !='Cristian'" style="background-color: rgb(172, 177, 171);" >
            <span id="sender">
                {{mensaje.nombre}} 
            </span>
            <span id="timestamp" 
                >
                {{ timeStamp | date:'medium' }}
            </span>
        </div>
        <div *ngIf="mensaje.nombre !='Cristian'" id="messageContent">
           {{mensaje.mensaje}}
        </div>

</div>


 


    <!-- 
    <div *ngIf="mensaje.nombre =='Cristian'" style="float: right;">
</div>


-->

